/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .getadog_header_block {
        padding-left: 90px;
    }
    .subscribe_tags_menu {
        padding-left: 45px;
    }
    .subscribe_search_block  h1 { 
        padding-left: 20px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .header_menu {
        padding-right: 0;
    }
    .header_phone_block {
        height: 197px;
    }
    .header_word_menu {
        padding-left: 15px;
    }
    .longwinded_p_block {
        width: 400px;
    }
    .longwinded_header_phone {
        height: 406px;
    }
    .getadog_header_phone {
        margin-top: 30px;
    }
    .subscribe_block {
        padding-left: 0;
    }
    .subscribe_search {
        width: 170px;
    }
}
@media only screen and (max-width : 768px) {
    .header_menu {
        padding-right: 0;
    }
    .header_phone_block {
        height: 130px;
        margin-top: 67px;
    }
    .header_word_menu {
        padding-left: 15px;
    }
    .longwinded_p_block {
        width: 400px;
    }
    .longwinded_header_phone {
        margin-top: -71px;
        height: 206px;
    }
    .getadog_header_phone {
        margin-top: 30px;
    }
    .subscribe {
        height: 250px;
        text-align: center;
        margin: auto;
    }
    .subscribe_block {
        text-align: center;
        margin-top: 100px;
    }
    .subscribe_search_block  h1 {
        margin-top: 10px;
    }
    .subscribe_tags_menu   span {
        margin-right:15px;
    }
    .subscribe_tags, .nav_words {
        display: none;
    }
    }
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .header_headline, .longwinded_header_block, .getadog_header_block {
        text-align: center;
    }
    .header_phone, .getadog_header_phone, .nav_words, .longwinded_p_block, .longwinded_header_phone, .getadog_header_phone {
        display: none;
    }
    .longwinded_header {
        height: 550px;
    }
    .getadog {
        height: 550px;
    }
    .getadog_header_block {
        padding-left: 15px;
    }
    .subscribe_tags_menu {
        padding-left: 15px;
    }
    .footer_button {
        margin-right: 10px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}